* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.header {
    grid-area: header;
    background-color: #000000;
}

.header h1 {
    text-align: center;
    padding-top: 0.7em;
    font-weight: bold;
    color: #ffffff;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1em 4em; 
    background-color: #dcdcdcc0;
    color: #000000
}

.nav h2 {
    margin-bottom: 1em;
}

.category-item {
    font-size: 16px;
    font-weight: 400;
}

.category-item span:nth-child(2) {
    color: #cccccc;
    padding-left: 0.3em;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4,23%);
    padding-top: 1em;
    background-color: #dcdcdcc0;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 340px;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 0 15px rgba(0 0 0 / 30%);
}

.card-product img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    margin-bottom: 0.5em;
}

.card-product span {
    padding: 0.5em 0;
    font-size: 20px;
}

.card-product button {
    background-color: #000000;
    color: #ffffff;
    font-size: 20px;
    font-weight: 100;
    width: 100%;
    height: 56px;
    border: none;
    text-decoration: none;
    transition: all .35s;
}

.card-product button:after {
    content: '»';
    opacity: 0; 
    padding-left: 5px;
    transition: 0.5s;
}

.card-product button:hover{
    padding-right: 24px;
    padding-left:8px;
}

.card-product button:hover:after {
    opacity: 1;
    right: 10px;
}

.footer {
    grid-area: footer;
    background-color: #000000;
}

.footer h3 {
    text-align: center;
    color: #ffffff;
    padding-top: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 20fr 1fr;
    min-height: 100vh;
}