* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Reddit Sans Condensed", sans-serif;
}

.header {
    grid-area: header;
    background-color: #000000;
}

.header h1 {
    text-align: center;
    padding-top: 0.7em;
    font-weight: bold;
    color: #ffffff;
}

.nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 1em 4em; 
    background-color: #dcdcdcc0;
    color: #000000
}

.nav h2 {
    margin-bottom: 1em;
}

.category-item {
    font-size: 16px;
    font-weight: 400;
}

.category-item span:nth-child(2) {
    color: #cccccc;
    padding-left: 0.3em;
}

.main {
    grid-area: main;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-items: center;
    gap: 10px;
    background-color: #dcdcdcc0;
}

.card-product {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 340px;
    padding-bottom: 1em;
    background-color: white;
}

.card-product img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-product button {
    width: 100%;
    border: none;
    text-decoration: none;
}

.footer {
    grid-area: footer;
    background-color: #000000;
}

.footer h3 {
    text-align: center;
    color: #ffffff;
    padding-top: 1.5em;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header header"
        "nav main"
        "footer footer";
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 20fr 1fr;
    min-height: 100vh;
}